<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Comprehensive Assignment">
    <test verbose="2" preserve-order="true" name="Test">
        <classes>
            <class name="AutomationAnywhereProductDelivery"/>
            <class name="AutomationAnywherePRequestDemo"/>
        </classes>
    </test>
</suite>